@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem var(--black);
}
*{
    font-family: 'poppins', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
body{
    background: #eee;

}
section{
    padding: 2rem 9%;
}


.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../assets/banner.png) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}
.home .content{
    text-align: center;
}
.home .content h3{
    font-size: 3rem;
    color: var(--black);
}
.home .content h3 span{
    color: var(--orange);
}
.home .content p{
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}
.features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}
.features .box-container .box{
    background: #fff;
    padding:3rem 2rem;
    outline: var(--outline);
    text-align: center;
    box-shadow: var(--box-shadow);
}
.features .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset:0rem;
}
.features .box-container .box img{
    margin: 1rem 0;
    height: 25rem;
}
.features .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}
.features .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}
.features .box-container .box p{
    font-size: 1.5rem;
    color: var(--light-color);
    padding:1rem 0;
    line-height: 1.8;
}
.products .product-slider{
    padding:1rem;
}
.products .product-slider:first-child{
    margin-bottom: 2rem;
}
.products .product-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition:.2s linear;
}
.products .product-slider .box:hover{
    outline: var(--outline-hover);
    outline-offset:0rem;
}
.products .product-slider .box img{
    height:20rem;
}
.products .product-slider .box h3{
    font-size: 2.5rem;
    color: var(--black);;
}
.products .product-slider .box price{
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
}
.products .product-slider .box .stars i{
    font-size: 1.7rem;
    color:var(--orange);
    padding: 5rem 0;
}
.categories .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap:1.5rem;
}
.categories .box-container .box{
    padding:3rem 2rem;
    border-radius: .5rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
}
.categories .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset:0rem;
}
.categories .box-container .box img{
    height: 15rem;
    margin: 1rem 0;
}
.categories .box-container .box h3{
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;
}
.categories .box-container .box p{
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}
.review .review-slider .box{
    background: #fff;
    padding:3rem 2rem;
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    border-radius: .5rem;
    transition:.2s linear;
}
.review .review-slider .box:hover{
    outline: var(--outline-hover);
    outline-offset:0rem;
}
.review .review-slider .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;;
}
.review .review-slider .box p{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}
.review .review-slider .box h3{
    padding-bottom: .5rem;
    color: var(--black);
    font-size: 2.2rem;
}
.review .review-slider .box .stars i{
    color: var(--orange);
    font-size: 1.7rem;
}
.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap:1.5rem;
}
.blogs .box-container .box{
   overflow: hidden;
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   background: #fff;
}
.blogs .box-container .box img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}
.blogs .box-container .box .content{
    padding:2rem;
}
.blogs .box-container .box .content .icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
}
.blogs .box-container .box .content .icons a{
    color: var(--light-color);
    font-size: .1.5rem;
}
.blogs .box-container .box .content .icons a:hover{
    color: var(--black);
}
.blogs .box-container .box .content .icons a i{
    color: var(--orange);
    padding-right: .5rem;
}
.blogs .box-container .box .content h3{
    line-height: 1.8;
    font-size: 2.2rem;
    color: var(--black);
    padding:5rem 0;
}
.blogs .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.8;
    padding-bottom: 5rem 0;
}

